<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
     <head th:replace="~{layout/plantilla :: head}">
        <title>Barberia</title>
    </head>
    <body>
            <header th:replace="~{layout/plantilla :: header}"/>
<section>
    <div class="container text-center">
        <div class="rounded-circle perfil-imagen mx-auto bg-secondary" style="width: 250px; height: 250px; margin-top: 90px"></div>
        <h2 class="nombre-usuario" th:text="${usuario}"></h2>
    </div>
</section>
     <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
